<div class="box">
    <%= link_to (image_tag pin.image, class: "thumbnail"), pin %>
    <p class="image-title">
        <%= link_to pin.description, pin %>
    </p>

    <p><strong><%= pin.user.name %></strong></p>

    <% if current_user == pin.user %>
        <p>
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    <% end %>
</div>
